# Проигнорируются файлы, находящиеся в подкаталоге tmp
 tmp/

 # Проигнорируются файлы, заканчивающиеся суффиксами _old, _backup.
*_old
*_backup

  # Проигнорируются файлы .DS_Store.
*.DS_Store

  # Проигнорируются файлы Thumbs.db
 *Thumbs.db
